<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
<a href="/list">Listar</a>
<br />
<br />

{#A action do formulário é a url que ele vai mandar depois da clicar no botão submit#}
<form action="/signup" method="post">
    <input name="name" type="text" placeholder="nome">
    <input name="email" type="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Enviar</button>
</form>
</body>
</html>